{% extends "rag/base.html" %}
{% load static %}

{% block title %}
    Chatbot
{% endblock title %}

{% block content %}
    <div class="chat-application">
        <div class="chat-header">
            ChatGPT Clone
            <p>Start a conversation and explore the power of AI.<br>Your chat history will be displayed here.</p>
        </div>
        <div class="chat-container" id="chat-log">
            <!-- Messages will be dynamically inserted here -->
        </div>
        <div class="typing-container">
            <input id="chat-input" type="text" placeholder="Enter a prompt here">
            <button id="send-btn" class="material-symbols-rounded">send</button>
        </div>
    </div>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #ECEFF1;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .chat-application {
            width: 100%;
            max-width: 100%;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .chat-header {
            padding: 20px;
            text-align: center;
            font-size: 1.2em;
            width: 80%; /* Set the width to your desired value */
            margin: 0 auto 0 140px; /* Center the div horizontally */
            position: absolute; /* Position the div absolutely */
            top: 40%; /* Position it at 50% from the top */
            transform: translateY(-50%); /* Adjust for vertical centering */
            z-index: 999;
        }

        .chat-container {
            bottom: 0;
            left: 0;
            width: 100%;
            overflow-y: auto;
            padding: 20px 0px 0px 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 480px;

        }

        .typing-container {
            padding: 10px;
            background-color: #f0f0f0;
            display: flex;
            border-top: 1px solid #ccc;
            justify-content: center;
        }

        .user-message {
            align-self: flex-end;
            margin-bottom: 10px;
        }

        .user-bubble {
            background-color: #30a2fb;
            color: white;
            border-radius: 20px;
            padding: 10px 10px;
            display: inline-block;
            max-width: 70%;
            align-self: flex-end;
            margin-left: auto;
        }

        .bot-message {
            align-self: flex-start;
            margin-bottom: 10px;
        }

        .bot-bubble {
            background-color: #e0e0e0;
            color: #333;
            border-radius: 20px;
            padding: 10px 20px;
            display: inline-block;
            max-width: 50%;
            font-size: 1em;
        }

        .feedback-buttons {
            display: inline-block;
            margin-left: 10px;
        }

        .feedback-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }

        .feedback-button img {
            width: 24px;
            height: auto;
        }

        .feedback-button:hover {
            transform: scale(1.2);
        }

        #chat-input {
            width: 60%;
            border: 2px solid #ccc;
            padding: 10px;
            border-radius: 18px;
            margin-right: 10px;
        }

        #send-btn {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 18px;
            cursor: pointer;
        }

        #send-btn:hover {
            background-color: #45a049;
        }

        /* Add responsiveness */
        @media (max-width: 600px) {
            .chat-application {
                padding: 0px;
            }

            .chat-header, .typing-container {
                padding: 10px;
            }

            #chat-input {
                width: 100%; /* Adjust input and button width for smaller screens */
            }

            .chat-container {
                min-height: 300px; /* Adjust minimum height for smaller screens */
            }

            .user-bubble, .bot-bubble {
                max-width: 90%; /* Adjust bubble width for smaller screens */
            }
        }

    </style>

    <script>
        $(document).ready(function () {
            const chatLog = $('#chat-log');
            const userInput = $('#chat-input');
            const sendButton = $('#send-btn');
            const initialHeader = $('.chat-header');

            function hideInitialHeader() {
                initialHeader.hide();
            }

            function appendMessage(message, sender, emoji) {
                message = message.replace(/true|false/g, '');
                const senderClass = sender === 'User' ? 'user-message' : 'bot-message';
                const bubbleClass = sender === 'User' ? 'user-bubble' : 'bot-bubble';
                const emojiHTML = emoji ? `<span class="emoji">${emoji}</span>` : '';
                const feedbackButtons = sender === 'Bot';
                const messageDiv = `
                            <div class="${senderClass}">
                                <div class="${bubbleClass}">
                                    ${emojiHTML}${message}
                                </div>
                            </div>
                        `;
                chatLog.append(messageDiv);
                chatLog.scrollTop(chatLog[0].scrollHeight);
            }

            function showThinkingIndicator() {
                const thinkingMessage = '<div class="bot-message thinking-message"> <span class="emoji">🤔</span></div>';
                chatLog.append(thinkingMessage);
                chatLog.scrollTop(chatLog[0].scrollHeight);
            }

            function handleUserInput() {
                const userMessage = userInput.val();
                appendMessage(userMessage, 'User');
                userInput.val('');
                showThinkingIndicator();
                hideInitialHeader();
                $.ajax({
                    url: '/staffs/',
                    type: 'POST',
                    data: {question: userMessage, csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (data) {
                        const botMessage = data.response;
                        appendMessage(botMessage, 'Bot');
                    },
                    error: function () {
                        const errorMessage = '<div class="bot-message" style="color: red; padding-bottom: 20px; font-size: 20px;">Error processing the request.</div>';
                        chatLog.append(errorMessage);
                    },
                    complete: function () {
                        $('.thinking-message').remove();
                    }
                });
            }

            // Handling click events for predefined questions
            $('.predefined-question-btn').click(function () {
                const question = $(this).data('question');
                appendMessage(question, 'User');
                showThinkingIndicator();
                $.ajax({
                    url: '/staffs/',
                    type: 'POST',
                    data: {question: question, csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (data) {
                        const botMessage = data.response;
                        appendMessage(botMessage, 'Bot');  // Append bot's response to the chat log
                    },
                    error: function () {
                        const errorMessage = '<div class="bot-message" style="color: red; padding-bottom: 20px; font-size: 20px;">Error processing the request.</div>';
                        chatLog.append(errorMessage);
                    },
                    complete: function () {
                        $('.thinking-message').remove();
                    }
                });
            });

            userInput.keypress(function (event) {
                if (event.which === 13) {
                    handleUserInput();
                }
            });

            sendButton.click(handleUserInput);
        });

    </script>

{% endblock content %}
