{% extends "rag/base.html" %}
{% load static %}

{% block title %}
    Chatbot
{% endblock title %}

{% block content %}
    <div class="chat-application">
        <div class="chat-header">
            <h1>ChatGPT Clone</h1>
            <p>Start a conversation and explore the power of AI.<br>Your chat history will be displayed here.</p>
        </div>
        <div class="chat-container">
            <div class="chat-log">
                <!-- Messages will be dynamically inserted here -->
            </div>

        </div>
        <div class="typing-container">
            <input id="chat-input" type="text" placeholder="Enter a prompt here">
            <button id="send-btn" class="material-symbols-rounded">send</button>
            <button id="theme-btn" class="material-symbols-rounded">light_mode</button>
        </div>
    </div>
    <style>
        body {
            font-family: 'Poppins', 'Arial', sans-serif;
            background-color: #f0f2f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }

        body.dark-mode {
            background-color: #343541;
            color: white;
        }

        body.dark-mode .chat-application {
            background-color: #343541;
        }

        body.dark-mode .chat-header {
            color: white;
        }

        body.dark-mode .typing-container {
            background-color: #343541;
            border-color: #6c6c6c;
        }

        body.dark-mode #chat-input {
            background-color: #444654;
            color: white;
            border-color: #777;
        }

        /* Styling for dark mode */
        body.dark-mode #send-btn {
            background-color: #444654;
            color: white;
            border-color: #777;
        }

        body.dark-mode #send-btn:hover {
            background-color: #777;
        }

        body.dark-mode .material-symbols-rounded {
            background-color: #444654;
            color: white;
        }

        body.dark-mode .material-symbols-rounded:hover {
            background-color: #777;
        }

        /* Styling for light mode */
        body.light-mode #send-btn {
            background-color: #eee;
            color: black;
            border-color: #ccc;
        }

        body.dark-mode .user-message {
            display: flex;
            padding: 36px 50px;
            color: #ffffff;
            width: 100% !important;
        }

        body.dark-mode .bot-message {
            display: flex;
            padding: 22px 50px;
            background-color: #444654 !important;
            width: 100% !important;
        }

        .chat-application {
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            text-align: center;
        }

        .chat-header {
            padding: 20px;
            text-align: center;
            font-size: 1.2em;
            width: auto;
            margin: 0 auto;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
        }

        .chat-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start; /* Align messages to start */
            overflow-y: auto;
            height: 400px; /* Fixed height with overflow */
            min-height: 480px;

        }

        .typing-container {
            padding: 10px;
            background-color: #fff;
            display: flex;
            border: 2px solid #ccc;
            align-items: center;
            border-top: 1px solid #e0e0e0;
            justify-content: center;
        }

        .chat-log {
            padding: 0;
            margin: 0;
            height: 59%;
            align-self: flex-start;
            width: 100%;
        }


        .user-message {
            display: flex;
            padding: 36px 50px;
            color: #343541;
            width: 100% !important;
        }

        .bot-message {
            display: flex;
            padding: 27px 50px;
            background-color: #e0e0e0 !important;
            width: 100% !important;
        }


        .feedback-buttons {
            display: inline-block;
            margin-left: 10px;
        }

        .feedback-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }

        .feedback-button img {
            width: 24px;
            height: auto;
        }

        .feedback-button:hover {
            transform: scale(1.2);
        }

        #chat-input {
            width: 60%;
            background-color: #f0f2f5;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 7px;
            margin-right: 10px;
            outline: none;
        }

        .typing-animation {
            padding-left: 25px;
            display: inline-flex;
        }

        .typing-animation .typing-dot:nth-child(1) {
            animation: animateDots 1.5s 0.2s ease-in-out infinite;
        }

        .typing-animation .typing-dot:nth-child(2) {
            animation: animateDots 1.5s 0.3s ease-in-out infinite;
        }

        .typing-animation .typing-dot:nth-child(3) {
            animation: animateDots 1.5s 0.4s ease-in-out infinite;
        }

        .typing-animation .typing-dot:first-child {
            margin-left: 0;
        }

        #send-btn {
            background-color: #f0f2f5;
            color: #555;
            border: none;
            padding: 10px 15px;
            border-radius: 18px;
            cursor: pointer;
        }

        .material-symbols-rounded {
            cursor: pointer;
            font-size: 24px;
            padding: 5px;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 50%;
            background-color: #f0f2f5;
            color: #555;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
        }

        .material-symbols-rounded:hover {
            background-color: #e1e3e8;
        }

        #send-btn:hover {
            background-color: #e1e3e8;
        }

        .typing-dot {
            background-color: #333; /* Set the color of the dots */
            width: 8px; /* Adjust width as needed */
            height: 8px; /* Adjust height as needed */
            border-radius: 50%; /* Make the dots round */
        }

        /* Add responsiveness */
        @media (max-width: 600px) {
            .chat-application {
                padding: 0px;
            }

            .chat-header, .typing-container {
                padding: 10px;
            }

            #chat-input {
                width: 100%;
            }

            .chat-container {
                min-height: 300px;
            }

            .user-bubble, .bot-bubble {
                max-width: 90%;
            }
        }


    </style>

    <script>
        $(document).ready(function () {
                const chatLog = $('.chat-log'); // Corrected selector to target by class
                const userInput = $('#chat-input');
                const sendButton = $('#send-btn');
                const themeButton = $('#theme-btn');
                const initialHeader = $('.chat-header');

                function toggleTheme() {
                    $('body').toggleClass('dark-mode');
                    themeButton.text($('body').hasClass('dark-mode') ? 'light_mode' : 'dark_mode');
                    localStorage.setItem('theme', $('body').hasClass('dark-mode') ? 'dark' : 'light');
                }

                function loadTheme() {
                    const theme = localStorage.getItem('theme');
                    if (theme === 'dark') {
                        $('body').addClass('dark-mode');
                        themeButton.text('light_mode');
                    } else {
                        $('body').removeClass('dark-mode');
                        themeButton.text('dark_mode');
                    }
                }

                loadTheme();
                themeButton.click(toggleTheme);

                function hideInitialHeader() {
                    initialHeader.hide();
                }

                function appendMessage(message, sender, emoji) {
                    message = message.replace(/true|false/g, '');
                    const senderClass = sender === 'User' ? 'user-message' : 'bot-message';
                    const emojiHTML = emoji ? `<span class="emoji">${emoji}</span>` : '';
                    const botImage = sender === 'Bot' ? '<img src="/static/chatbot.png" alt="chatbot image" style="width: 30px; height: auto; margin-right: 5px;">' : '<img src="/static/user.png" alt="chatbot image" style="width: 30px; height: auto; margin-right: 5px;">';
                    const messageDiv = `
        <div class="${senderClass}" style="display: flex; align-items: center; margin-bottom: 10px;">
            ${botImage}${emojiHTML}<span style="flex-grow: 0;">${message}</span>
        </div>
    `;
                    chatLog.append(messageDiv);
                    chatLog.scrollTop(chatLog[0].scrollHeight);
                }

                function showThinkingIndicator() {
                    const thinkingMessage = `
        <div class="bot-message thinking-message">
            <div class="typing-animation">
                <div class="typing-dot" style="animation-delay: 0.2s"></div>
                <div class="typing-dot" style="animation-delay: 0.3s"></div>
                <div class="typing-dot" style="animation-delay: 0.4s"></div>
            </div>
        </div>`;
                    chatLog.append(thinkingMessage);
                    chatLog.scrollTop(chatLog[0].scrollHeight);
                }

                function handleUserInput() {
                    const userMessage = userInput.val();
                    appendMessage(userMessage, 'User');
                    userInput.val('');
                    showThinkingIndicator();
                    hideInitialHeader();
                    $.ajax({
                        url: '/staffs/',
                        type: 'POST',
                        data: {question: userMessage, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        success: function (data) {
                            const botMessage = data.response;
                            appendMessage(botMessage, 'Bot');
                        },
                        error: function () {
                            const errorMessage = `
    <div class="bot-message error-message" style="display: flex; align-items: center; color: red; font-size: 20px; margin: 10px 0;">
        <img src="/static/chatbot.png" alt="Chatbot Image" style="margin-left 10px;width: 35px; height: auto; margin-right: 10px;">
        Error processing the request.
    </div>`;
                            chatLog.append(errorMessage);
                        },
                        complete: function () {
                            $('.thinking-message').remove();
                        }
                    });
                }

                userInput.keypress(function (event) {
                    if (event.which === 13) {
                        handleUserInput();
                    }
                });

                sendButton.click(handleUserInput);
            }
        )
        ;


    </script>

{% endblock content %}
