<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        .bg-white {
            padding: 20px;
        }

        h3 {
            font-size: 1.5rem;
        }

        .form-label {
            font-size: 0.9rem;

            .form-control {
                font-size: 0.9rem;
                padding: 8px 12px;
            }

            .btn-primary {
                font-size: 0.9rem;
                padding: 10px 20px;
            }
        }
    </style>
</head>
<body>
<div class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-8 col-xl-5 col-xxl-5">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <h3>Sign Up</h3>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'cyberapp:signup' %}" , method="POST">
                        {% csrf_token %}
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <div class="col-12">
                                <label for="username" class="form-label">Username <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="name@example.com" required>
                            </div>
                            <div class="col-12">
                                <label for="first_name" class="form-label">First Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="first_name" id="first_name"
                                       placeholder="first name" required>
                            </div>
                            <div class="col-12">
                                <label for="last_name" class="form-label">Last Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                       placeholder="last name" required>
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">Email <span
                                        class="text-danger">*</span></label>
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="email" required>
                            </div>
                            <div class="col-12">
                                <label for="password1" class="form-label">Password <span
                                        class="text-danger">*</span></label>
                                <input type="password" class="form-control" name="password1" id="password1" value=""
                                       required>
                            </div>
                            <div class="col-12">
                                <label for="password2" class="form-label">Confirm Password <span
                                        class="text-danger">*</span></label>
                                <input type="password" class="form-control" name="password2" id="password2" required>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn btn-primary"
                                            style="background-color: #033e8c; border: none; font-size: 18px;"
                                            type="submit">Sign Up
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
